<div id="<%= dom_id plate %>">
  <div class="card-header">
    <strong><%= plate.name %></strong>
  </div>
  <div class="card-body">
    <p><%= plate.description %></p>
    <strong>Precio: <%= plate.amount %></strong>
  </div>
</div>

