  <nav class="nav bg-light">
    <li class="nav-item">
      <%= link_to "Principal", root_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Platos", plates_path, class:"nav-link" %>
    </li>
  </nav>